.header {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid gray;
    background-color: #FFF;
    .header__name {
        display: flex;
        padding: 10px 20px;
        height: 100%;
        align-items: center;
        background-color: rgb(147, 147, 235);
        border-radius: 4px;

        img{
            height: 30px;
        }
        span {
            color: #FFF;
            font-size: 15px;
        }
    }
    span {
        font-size: 15px;
        color: gray;
        margin-left: 20px;
        
    }
}