button {
  width: 200px;
  padding: 10px 20px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid gray;
  cursor: pointer;
}
.blue {
  background-color: blue;
  color: #fff;
}
